/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
}

/* Header */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__children {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__icon {
  font-size: 30px;
}

.header__title {
  font-size: 40px;
}

.header__nav {
  display: flex;
  justify-content: space-around;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header__menu-item {
  display: inline-block;
}

.header__menu-link {
  color: #fff;
  text-decoration: none;
}
/* About Section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  background-color: #f9f9f9;
}

.about__card {
  display: flex;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.75);
}

.about__p {
  width: 100%;
  text-align: left;
  padding: 20px;
}

.about__figure {
  width: 100%;
  padding: 10px;
}

.about__img {
  width: 100%;
  border-radius: 20px;
  display: block;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}

.about__img--small {
  display: none;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url("../assets/hero-background2.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Color negro con una opacidad del 50% */
}

.hero__content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté sobre el div superpuesto */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero__title,
.hero__description,
.hero__cta {
  color: #fff; /* Asegura que el texto sea blanco */
  position: relative;
  z-index: 2; /* Coloca las etiquetas sobre el fondo oscuro */
}

.hero__title {
  font-size: 36px;
}

.hero__description {
  font-size: 18px;
}

.hero__cta {
  background-color: #ff5f6d;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero__cta:hover {
  background-color: #ff3d4a;
}

/* Services Section */
.services {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.services__title {
  font-size: 24px;
  text-align: center;
}

.services__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.services__item {
  font-size: 18px;
}

.card-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
}

.card-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #000 0%, #666 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #000 0%, #666 100%);
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.card .img-content svg {
  width: 50px;
  height: 50px;
  fill: #e8e8e8;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content .heading {
  font-size: 26px;
  font-weight: 700;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .img-content {
  scale: 2.5;
  rotate: 30deg;
  filter: blur(7px);
}

.card:hover .img-content svg {
  fill: transparent;
}

/* Testimonials Section */
.testimonials {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  flex-direction: column;
}

.testimonials__title {
  font-size: 24px;
}

.testimonial {
  display: flex;
  justify-content: space-evenly;
}

.testimonial__card {
  width: 280px;
  height: 280px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.testimonial__card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.testimonial__card .mail svg {
  stroke: #333;
  stroke-width: 3px;
}

.testimonial__card .mail svg:hover {
  stroke: #666;
}

.testimonial__card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #666;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.testimonial__card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.testimonial__card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.testimonial__card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #666;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.testimonial__card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.testimonial__card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.testimonial__card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.testimonial__card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial__card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.testimonial__card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.testimonial__card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #333;
  transform: scale(1.2);
}

.testimonial__card .bottom .bottom-bottom .button {
  background: white;
  color: #666;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.testimonial__card .bottom .bottom-bottom .button:hover {
  background: #333;
  color: white;
}

.testimonial__card:hover {
  border-top-left-radius: 55px;
}

.testimonial__card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.testimonial__card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #666;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  object-fit: cover;
}

.testimonial__card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.testimonial__card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 20px;
  transition: all 0.5s ease-in-out 0.5s;
}

.testimonial__card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

.testimonial__text {
  font-size: 16px;
}

.testimonial__author {
  font-style: italic;
  color: #666;
}
/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.contact__card {
  background: lightgrey;
  background-color: #4158d0;
  background-image: linear-gradient(0deg, #666 0%, #999 46%, #666 100%);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.contact__span {
  font-weight: bold;
}

.contact__heading {
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
  font-size: large;
}

.input-div {
  width: 100%;
  display: flex;
  transition: 0.5s ease-in-out;
  padding: 6px;
  color: #fff;
}

.contact__card input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 12rem;
  padding: 8px;
  outline: none;
}

.button-div {
  text-align: center;
  padding: 20px;
}

.submit {
  text-align: center;
  padding: 8px 3rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.submit:hover {
  box-shadow: rgba(44, 43, 43, 0.664) 5px 5px, rgba(45, 45, 45, 0.3) 10px 10px,
    rgba(60, 59, 59, 0.2) 15px 15px, rgba(54, 53, 53, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.contact__card input::placeholder {
  color: black;
}

.input:focus {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .about__card {
    width: 80%;
    display: flex;
  }

  .services__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }

  .card-container {
    width: 251px;
    height: 250px;
    position: relative;
    border-radius: 20px;
  }

  .card .content .heading {
    font-size: 20px;
    font-weight: 700;
  }

  .heading__p {
    font-size: 16px;
  }

  /* Estilos para pantallas más pequeñas, como tablets y teléfonos */
}

@media (max-width: 576px) {
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about__card {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .about__img {
    display: none;
  }
  .about__img--small {
    display: block;
  }
  .about__p {
    width: 100%;
    text-align: justify;
    padding: 20px;
  }
  .testimonial {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  /* Estilos para pantallas aún más pequeñas, como teléfonos móviles */
}
